.budget-main-container {
  background-color: lightsteelblue;
  padding: 1rem;
  /* position: absolute; */
  height: 100vh;
}

.budget-details-container {
  width: 90%;
  height: fit-content;
  margin-left: 2.5%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  /* tedtest remove borders later */
}

.budget-details-rowone {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; This spreads them out evenly */
  gap: 1rem; /* This adds space between each label (you can adjust this value) */
  max-width: 90%;
}

.budget-workspace-container {
  width: 90%;
  height: calc(100% - 10rem);
  margin-top: 0.5rem;
  margin-left: 2.5%;
}

.button-submit {
  height: fit-content;
  width: 6rem;
  border: solid 1px darkcyan;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  background: linear-gradient(to top, rgb(0, 188, 227, 1), #c3e6fd);
  padding: 0.3rem 0;
  margin-right: 0.5rem;
  box-shadow: inset -3px -3px 4px 0px rgba(255, 255, 255, 1),
    0px 3px 2px 0px rgba(0, 0, 0, 0.2);
}
