.budgetHeader {
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* text-align: right; */
  /* width:fit-content; */
}

.budgetRow {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  /* white-space: nowrap;
    text-overflow: ellipsis; */
}

.budgetCell {
  display: inline-block;
  width: 4.5rem;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* text-align: right; */
}

.label {
  margin-bottom: 10px;
}

.budget-input {
  width: 3rem;
  height: 1.5rem;
  padding: 0.2rem;
  font-size: 1rem;
  text-align: center;
}

.budgetRow tr td {
  white-space: nowrap; /* Prevent content from wrapping */
  overflow: hidden; /* Hide any content that overflows the cell */
}

.budget-display-container {
  width: 95%;
  height: 90vh;
  margin-left: 2.5%;
  background-color: #f7f0e4;
  overflow: hidden;
  overflow-x: auto;
  font-family: Arial, sans-serif;
}

.edit-button {
  width: fit-content;
  height: 2rem;
  border-radius: 0.4rem;
  border: 1px solid darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: lightcyan;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form input,
.form select {
  margin-right: 10px;
  /* padding: 5px; */
  font-size: 0.8rem;
}

.form input[type="number"] {
  width: 100px;
}

.form input[type="checkbox"] {
  margin-left: 10px;
}

.placeholder {
  color: #999;
  font-style: italic;
}

.budget-app {
  font-family: Arial, sans-serif;
}

.format-selector {
  margin-bottom: 20px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 300px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal .form {
  display: flex;
  flex-direction: column;
}

.modal .form input,
.modal .form select {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 14px;
}

.repeat-details {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  font-size: 0.9rem;
}

.repeat-details-info {
  display: flex;
  flex-direction: row;
  /* margin-left: 2rem; */
  font-size: 0.8rem;
}

.budget-add-button {
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid grey;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dayRecords {
  margin: 0.24em 0 0.25em 0;
}
