.tablecontainer {
  overflow: auto;
  max-height: 100%;
}

.table {
  border-collapse: collapse;
  table-layout: fixed; /* Ensures that the widths are fixed */
  /* width: 100%; */
}

.table th,
.table td {
  /* padding: 8px; */
  border: 1px solid #ddd;
}

.table th {
  position: sticky;
  top: 0;
  background: #fff;
}

thead th {
  position: sticky;
  top: 0;
  background-color: white; /* or another background color */
  z-index: 1;
}

th,
td {
  /* padding: 8px; */
  text-align: left;
  width: 150px; /* Set specific width for proper alignment */
}
thead tr {
  border-bottom: 2px solid darkslategray;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2; /* Optional: add row striping for readability */
}

.tablebody {
  max-height: 68vh;
  overflow: auto;
}

.editcheckbox {
  font-size: 0.8rem;
  width: 1.2rem;
}

.category_description {
  width: 14rem;
}

.category_code {
  width: 10rem;
}

.description {
  width: 14rem;
}

.categories_main_buttons {
  height: fit-content;
  width: fit-content;
  border: none;
  background: transparent;
  /* background-color: lightblue;
    border: 1px solid darkblue;
    border-radius: 0.5rem; */
  display: flex;
  align-items: center;
  gap: 0.1rem;
  /* justify-content: space-around; */
  cursor: pointer;
  font-size: 0.8rem;
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); */
  white-space: nowrap;
  /* padding: 0.3rem 0.8rem; */
  margin-left: 0.5rem;
}

.categories_button_grid {
  /* position: relative; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(1rem, 7rem), 1fr));
  align-items: center;
  gap: 5px;
  right: 0%;
  bottom: 4%;
  /* margin-top: 1rem; */
}

.category_button_grid {
  /* position: relative; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(1rem, 7rem), 1fr));
  align-items: center;
  gap: 5px;
  right: 0%;
  bottom: 4%;
  /* margin-top: 1rem; */
}

.category_main_buttons {
  height: fit-content;
  width: fit-content;
  border: none;
  background: transparent;
  /* background-color: lightblue;
    border: 1px solid darkblue;
    border-radius: 0.5rem; */
  display: flex;
  align-items: center;
  gap: 0.1rem;
  /* justify-content: space-around; */
  cursor: pointer;
  font-size: 0.8rem;
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); */
  white-space: nowrap;
  /* padding: 0.3rem 0.8rem; */
  margin-left: 0.5rem;
}
