.category-work-container {
  position: absolute;
  height: calc(96% - 2.5rem);
  width: 96%;
  left: 2%;
  top: calc(2% + 2.5rem);
  /* border: 1px solid black; */
  /* tedtest remove this border later (or maybe not?) */
}
