input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: 1.5em; /* Adjust to desired height */
  width: 1.5em; /* Adjust to desired width */
  font-size: 1em; /* Adjust font size of the arrows */
}

input[type="file"] {
  display: none;
}

input-box {
  height: 1.5rem;
}

.import-file-content {
  height: 25vh;
  width: fit-content;
  padding: 0 1rem;
  max-width: 90vw;
  overflow: auto;
  font-size: 0.7rem;
}

.table-container {
  max-width: 80vw;
  width: fit-content;
  height: 30vh;
}

.custom-table {
  width: 80%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 0.2rem 0.1rem; /* Add padding inside each cell */
  border: 1px solid #ccc; /* Add borders to cells */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Apply text ellipsis */
  max-width: 12rem;
  width: fit-content;
  font-size: 0.7rem;
}

.custom-table th {
  background-color: #f2f2f2; /* Background color for table header */
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Alternate row background color */
}

.custom-table tbody tr:hover {
  background-color: #e9e9e9; /* Background color on hover */
}

.header-row {
  display: grid;
  font-size: 1.1rem;
  gap: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  align-items: center;
  width: max-content; /* Ensure the row width is based on the content */
}

.header-row th,
.header-row td {
  width: 3.5rem; /* or your desired fixed width */
}

.header-row input {
  width: 100%; /* Ensure the input fits the cell */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  transition: width 0.3s ease-in-out;
}

/* For WebKit (Chrome, Safari) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* For Edge */
}

/* For Edge and IE */
.no-scrollbar {
  -ms-overflow-style: none;
}

/* For Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* For WebKit (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.headers-selection-bar {
  overflow: auto;
  max-width: 90vw;

  /* Optional: Customize scrollbar for webkit browsers (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.indent-left-margin {
  margin-left: 1rem;
}
