:root {
    --box_shadow: 2px 4px 8px rgba(0, 0, 0, 0.25)
    --modal_text_color:#0000ff
    --modal_header_text_color:#0000ff
    --radius-small:4px;
    --button_background_color:rgba(0,200,200,0.8)
    --button_text_color:rgba(0,0,0,0.8)
    --button_border_color:rgba(0,100,100,1)
    --border_radius_small:4px
    --border_radius_medium:8px
     --button_background_color_selected: #007bff
   --modal_border_color:#0000ff
   --button_border_color:#000000
   --border_radius_large:16px
  }
  
  .close-modal {
    background-color: transparent;
    color: #333;
    top: 0;
    right: 0;
    font-size: 35px;
    border: none;
    z-index: 99;
  }
  
  .close-modal:hover,
  .close-modal:focus {
    color: red;
    cursor: pointer;
  }
   
  .modal-new {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: transparent;
    animation: fadein 0.2s linear forwards;
    width:100%
  }
  
  .modal-content-new {
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(250, 235, 215);
    z-index: 999;
    border: 0.06rem solid darkcyan;
    border-radius: 1rem;
    max-width: 95%;
    color: var(--modal_text_color);
    box-shadow: 2px 2px 8px 2px rgb(165, 164, 164);
    transition: all 500ms ease-in-out;
    overflow: hidden;
    max-height: 90vh;
    min-height: 10vh;
    width:auto;
  }
  
  .modal-header-new {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    height: fit-content;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    background-color: lightcyan;
    color: rgb(51, 50, 50);
  }
  
  .modal-footer-new {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    white-space: nowrap;
    height: fit-content;
    background-color: lightcyan;
    color: rgb(51, 50, 50);
    padding-right: 1rem;
  }
  
  .modal-header-new h2 {
    margin-top: 0.5rem;
    margin-left: 0.75rem;
    margin-bottom: 0.5rem;
    margin-right: 2rem;
    color: var(--modal_header_text_color);
  }
  
  .modal-title-new {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 0.5rem;
    color: var(--modal_header_text_color);
    transition: 1s;
  }
  
  .modal-body-new {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5rem;
    overflow: hidden;
    scroll-behavior: smooth;
    max-height: 90vh;
    height:fit-content;
    max-width: 95%;
    font-size: 1rem;
    padding: 0rem 1rem 0rem 1rem;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .modal-button-new {
    background-color: var(--button_background_color);
    color: var(--button_text_color);
    padding: 0.38rem;
    border: 0.06rem var(--button_border_color) solid;
    cursor: pointer;
    min-width: 4.69rem;
    width: fit-content;
    border-radius: var(--border_radius_small);
    box-shadow: var(--box_shadow);
    margin-top: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.82rem;
  }
  
  .modal-button-new:disabled {
    opacity: 0.5;
    cursor: auto;
  }
  
  .modal-button-new-large {
    background-color: var(--button_background_color);
    color: var(--button_text_color);
    padding: 0.5rem;
    border: 0.06rem var(--button_border_color) solid;
    cursor: pointer;
    min-width: 4.69rem;
    width: fit-content;
    border-radius: var(--border_radius_medium);
    box-shadow: var(--box_shadow);
    margin-top: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.82rem;
  }
  
  .modal-button-greyed {
    background-color: var(--button_background_color);
    opacity: 0.5;
    color: var(--button_text_color);
    padding: 0.38rem;
    border: 0.06rem var(--button_border_color) solid;
    cursor: pointer;
    min-width: 4.69rem;
    width: fit-content;
    border-radius: var(--border_radius_small);
    box-shadow: var(--box_shadow);
    /* box-shadow: 0.13rem 0.19rem 0.13rem rgb(0 0 0 / 0.2); */
    margin-top: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.82rem;
  }
  
  .modal-input-new[type="text"] {
    min-width: 80%;
    padding: 0.25rem;
    margin-right: 0.5rem;
    display: inline-block;
    border: 0.06rem solid var(--modal_border_color);
    border-radius: var(--border_radius_small);
    margin-bottom: 0.25rem;
  }
  
  .modal-input-new[type="topic"] {
    min-width: 220px;
    padding: 0.5rem;
    margin-right: 0.5rem;
    display: inline-block;
    border: 0.06rem solid var(--modal_border_color);
    border-radius: var(--border_radius_small);
    margin-bottom: 0.75rem;
  }
  
  .modal-checkboxes {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    accent-color: var(--button_background_color_selected, #007bff);
  }
  
  .modal-checkbox-small {
    -ms-transform: scale(0.8); /* IE */
    -moz-transform: scale(0.8); /* FF */
    -webkit-transform: scale(0.8); /* Safari and Chrome */
    -o-transform: scale(0.8); /* Opera */
    transform: scale(0.8);
    accent-color: var(--button_background_color_selected, #007bff);
  }
  
  .modal-image-new {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 1);
  }
  
  .modal-content-image-new {
    position: absolute;
    /* top: 10%; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; /* Sit on top */
    border-radius: var(--border_radius_large);
    transition: all 500ms ease-in-out;
    overflow: hidden;
    max-height: 100vh;
    min-height: 10vh;
  }
  
  .modal-label-new {
    text-align: left;
    font-weight: bold;
  }
  
  .modal-label-new h2 {
    margin-top: 0;
  }
  
  .modal-label-new-participants {
    text-align: left;
    margin-bottom: 0.5rem;
  }
  
  .required:after {
    content: " *";
    color: red;
  }
  
  .modal-list-new {
    list-style-type: disc;
    list-style-position: outside;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .item-to-fadein {
    -webkit-animation: fadein 0.3s linear forwards;
    animation: fadein 0.3s linear forwards;
    padding: 10px;
  }
  .item-to-fadeout {
    display: flex;
    align-items: center;
    padding: 10px;
    -webkit-animation: fadeout 0.3s linear forwards;
    animation: fadeout 2.3s linear forwards;
  }
  
  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes blink {
    50% {
      color: transparent;
    }
  }
  .loader__dot {
    animation: 1s blink infinite;
  }
  .loader__dot:nth-child(2) {
    animation-delay: 250ms;
  }
  .loader__dot:nth-child(3) {
    animation-delay: 500ms;
  }
  
  span.textbox {
    min-width: 80%;
    padding: 0.25rem;
    margin-right: 0.5rem;
    display: inline-block;
    border: 0.06rem solid var(--modal_border_color);
    border-radius: var(--border_radius_small);
    margin-bottom: 0.25rem;
    font-size: inherit;
    font-weight: inherit;
    display: flex;
    align-items: center;
  }
  
  span.textbox input {
    border: 0px;
    background-color: #fff;
  }
  
  .section-readonly-input {
    border: none;
  }
  
  .section-readonly-input:focus-visible {
    outline: none;
  }
  
  .fade-in-text {
    animation: fadeIn 2s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-out-text {
    animation: fadeOut 2s;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  