.tablecontainer {
  font-size: 0.8rem;
  overflow: auto;
  max-height: 100%;
  width: 90%;
  height: 90vh;
  background-color: #fcf9f5;
  margin-left: 2.5%;
}

.table {
  border-collapse: collapse;
  table-layout: fixed; /* Ensures that the widths are fixed */
  width: 100%;
}

th {
  cursor: pointer;
}

.table th,
.table td {
  /* padding: 0;
  margin: 0; */
  border: 1px solid #ddd;
  line-height: 1;
}

.table th {
  position: sticky;
  top: 0;
  background: #fff;
}

thead th {
  position: sticky;
  top: 0;
  background-color: white; /* or another background color */
  z-index: 1;
}

th,
td {
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: 1;
}

thead tr {
  border-bottom: 2px solid darkslategray;
}

tbody tr:nth-child(odd) {
  background-color: #e4e2df; /* Optional: add row striping for readability */
}

.tablebody {
  max-height: 80vh;
  overflow: auto;
}

.accountid {
  width: 5.8rem;
}

.date {
  width: 5.8rem;
  min-width: 5.8rem;
}

.day {
  width: 2.5rem;
}

.description {
  width: 14rem;
}

.category {
  width: 8rem;
}

.incexp {
  width: 5.5rem;
  padding: 0.1rem;
}

.dr {
  width: 5.5rem;
}

.cr {
  width: 5.5rem;
}

.reports_main_buttons {
  height: fit-content;
  width: fit-content;
  border: none;
  background: transparent;
  /* background-color: lightblue;
    border: 1px solid darkblue;
    border-radius: 0.5rem; */
  display: flex;
  align-items: center;
  gap: 0.1rem;
  /* justify-content: space-around; */
  cursor: pointer;
  font-size: 0.8rem;
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); */
  white-space: nowrap;
  /* padding: 0.3rem 0.8rem; */
  margin-left: 0.5rem;
}

.reports_button_grid {
  /* position: relative; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(1rem, 7rem), 1fr));
  align-items: center;
  gap: 5px;
  right: 0%;
  bottom: 4%;
  /* margin-top: 1rem; */
}

.tableinput {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  line-height: 1; /* Adjusts the line height */
  height: 100%; /* Makes the input fill the height of the cell */
}

.table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.table tr {
  height: auto; /* Let the row height adjust automatically */
}
