.displaycontainer {
  width: 90%;
  height: 90vh;
  margin-left: 2.5%;
  padding: 0 1rem 1rem 1rem;
  background-color: #f7f0e4;
  overflow: auto;
  /* margin-top: 1rem; */
}

.tabledisplaycontainer {
  width: 100%;
  height: 85vh;
  /* margin-left: 2.5%; */
  /* padding: 0 1rem 1rem 1rem; */
  background-color: #f7f0e4;
  overflow: auto;
  /* margin-top: 1rem; */
}

.transaction_details_container {
  width: 90%;
  margin-left: 2.5%;
  display: flex;
  flex-direction: column;
}

.transaction_main_buttons {
  height: fit-content;
  width: fit-content;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 0.1rem;
  cursor: pointer;
  font-size: 0.8rem;
  white-space: nowrap;
  margin-left: 0.5rem;
}

.transaction_button_grid {
  position: sticky;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(1rem, 7rem), 1fr));
  align-items: center;
  gap: 5px;
  right: 0%;
  bottom: 4%;
}

.disabled {
  pointer-events: none;
  color: gray; /* Or whatever styling you want for the disabled look */
  cursor: not-allowed;
  opacity: 0.6;
}
