.displaycontainer {
  width: 90%;
  height: 80vh;
  margin-left: 2.5%;
  border: 1px solid black;
  /* borders to be removed later tedtest */
  background-color: #f7f0e4;
  overflow: auto;
  margin-top: 1rem;
}

.transaction_details_container {
  width: 90%;
  /* height: 6rem; */
  margin-left: 2.5%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  /* remove borders later */
}
