:root {
  --box_shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  --modal_text_color: #0000ff;
  --modal_header_text_color: #0000ff;
  --radius-small: 4px;
  --button_background_color: rgba(0, 200, 200, 0.8);
  --button_text_color: rgba(0, 0, 0, 0.8);
  --button_border_color: rgba(0, 100, 100, 1);
  --border_radius_small: 4px;
  --border_radius_medium: 8px;
  --button_background_color_selected: #007bff;
  --modal_border_color: #0000ff;
  --button_border_color: #000000;
  --border_radius_large: 16px;
  --menu_main_text_color: #0a001b;
  --menu_main_background_color: rgb(186, 184, 184);
  --speed: 500ms;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
